<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="net.urbanworkbench.ui.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            apply="always"
            uri="fragment.e4xmi">
      </fragment>
   </extension>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="Urban Workbench"
            application="org.eclipse.ui.ide.workbench">
         <property
               name="appName"
               value="Urban Workbench">
         </property>
         <property
               name="aboutImage"
               value="icon_128x128.png">
         </property>
         <property
               name="aboutText"
               value="Kai-Holger Brassel, Hamburg, Germany">
         </property>
         <property
               name="windowImages"
               value="icon_16x16.png,icon_32x32.png,icon_128x128.png,icon_256x256.png">
         </property>
      </product>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <category id="net.urbanworkbench.ui.category.uw" name="Urban Workbench">
      </category>
      <wizard
            category="net.urbanworkbench.ui.category.uw"
            class="net.urbanworkbench.uw.ui.wizards.NewModelingProjectWizard"
            icon="icons/wizard.png"
            id="net.urbanworkbench.ui.model.project"
            name="Modeling Project"
            project="true">
         <description>
            Create a new modeling project
         </description>
      </wizard>
   </extension>

</plugin>
